.cardDisplay {
  background-color: wheat;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
}

.cardContainer {
  /* background-color: yellow; */
  border: solid grey;
  width: 1fr;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}