.IntroSection {
  background-color: white;
  min-height: 50vh;
  width: 100vw;
  padding: 80px;
}

/* Media queries –––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 450px) {

  .IntroSection {
    padding: 20px;
  }

}