.navbar {
  background-color: white;
  margin-bottom: 0px;
  padding: 0px 80px;
  position: sticky; top: 0;
  height: 10vh;
  width: 100vw;
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 60px;
  width: 60px;
  background-color: darkcyan;
  border-radius: 100%;
  margin-right: 30px;
}

.navLeft {
  height: 60px;
  width: 500px;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
}

.navRight {
  height: 60px;
  width: 580px;
  /* background-color: pink; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navLinks {
  /* background-color: yellow; */
  width: 680px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  height: 60px;
  width: 60px;
  background-color: green;
  display: none;
}

/* Media queries –––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 450px) {

  .navbar {
    padding: 0px 30px;
  }

}

@media only screen and (max-width: 1260px) {

  .navRight {
    width: 100px;
  }
  
  .navLinks {
    display: none;
  }
  

  .hamburger {
    display: block;
  }

}

